
@mixin heading-style($font-size, $font-weight, $letter-spacing, $animation){
    display: block;
    font-size:$font-size;
    font-weight:  $font-weight;
    letter-spacing: $letter-spacing;
    // animation-name: moveInLeft;
    animation: $animation;
    animation-timing-function: ease-out;
}

@mixin clearfix{
    &::after {
        content:"";
        display:table;
        clear: both;
    }
}

@mixin font-transform($size, $weight, $color){
    font-size: $size;
    font-weight: $weight;
    color: $color;    
    text-transform: uppercase;
}

@mixin center-block(){
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

