
@mixin heading-style($font-size, $font-weight, $letter-spacing, $animation){
    display: block;
    font-size:$font-size;
    font-weight:  $font-weight;
    letter-spacing: $letter-spacing;
    // animation-name: moveInLeft;
    animation: $animation;
    animation-timing-function: ease-out;
}

@mixin clearfix{
    &::after {
        content:"";
        display:table;
        clear: both;
    }
}