$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-white: rgb(255, 255, 255);
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #dfdfdf;
$color-gray-light-3: #b9b9b9;
$color-gray-dark-3: #333;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-terciary-light: #2998ff;
$color-terciary-dark: #5643fa;

$color-marine-light: #3671a1;
$color-marine-dark: #1e3f5a;

$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;

// FONT
$default-font-size: 1.6rem;

$shadow-1: 0 1.5rem 4rem rgba($color-black, .15);
