.card{

    // FUNCTINALITY
    $card-height: 47rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: $card-height;

    $gradient-1 : linear-gradient(to right bottom, ($color-primary-light), ($color-primary-dark));
    $gradient-2 : linear-gradient(to right bottom, ($color-secondary-light), ($color-secondary-dark));
    $gradient-3 : linear-gradient(to right bottom, ($color-terciary-light), ($color-terciary-dark));

    &__side{
        height: $card-height;
        color:$color-white;
        border-radius: 3px;
        transition: all .8s ease;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        backface-visibility: hidden;
        box-shadow: $shadow-1;
        overflow:hidden;

        &--front{
            background-color: $color-white;
        }

        &--back{    
            transform: rotateY(-180deg);
            &-1{
                background-image: $gradient-1;
            }  

            &-2{
                background-image: $gradient-2;
            }  

            &-3{
                background-image: $gradient-3;
            }              
        }        
    }

    &:hover &__side--front{
        transform: rotateY(180deg)
    }    

    &:hover &__side--back{
        transform: rotateY(0deg);
    }   

    // FRONT SIDE STYLING
    &__img{
        background-size: cover;
        height: 23rem;
        // z-index: index 100;
        background-blend-mode: screen;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100%, 80%, 0 100%);    
        

        &--1{
            background-image: $gradient-1, url("../img/nat-5.jpg");
            // , $gradient-1
        }

        &--2{
            background-image: url("../img/nat-6.img"), $gradient-1;
        }

        &--3{
            background-image: url("../img/nat-7.img"), $gradient-1;
        }
    }

    &__heading{
        @include font-transform(2.8rem, 300, $color-white);        
        top:12rem;
        right: 2rem;
        width: 60%;
        position:absolute;
        text-align: right;            
    }

    &__heading-span{ 
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break:clone;

        &--1{
            background-image: $gradient-1;
        }

        &--2{
            background-image: $gradient-1;
        }

        &--3{
            background-image: $gradient-3;
        }  
    }

    &__details{

        ul{
            list-style:none;
            width:80%;
            margin: 0 auto;
            color: $color-gray-dark;
            li {
                text-align: center;
                font-size:1.5rem;
                padding:1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-gray-light-2;
                }
            }
        }
    }
}