.composition {
    position: relative;

    &__photo{
        width:55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        border-radius: 2px;
        position: absolute;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1{
            left:0;
            top: -2rem;
        }        

        &--p2{
            right: 0;
            top: 20px;
        } 

        &--p3{
            left: 20%;
            top: 10rem;
        } 
        
        &:hover{
            // Outline can be given an offset which is what we need to create the border thingy here.
            // outline: 2px solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 3rem 4rem rgba($color-black, .5);
            z-index: 20;
        }        
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }
}