.form{
    &__group:not(:last-child){
        margin-bottom:2rem;
    }

    &__input{
        font-size:1.5rem;
        padding: 1.5rem 2rem;
        font-family: inherit;
        color: inherit;
        border-radius: 2px;
        background-color: $color-white;
        border: none;
        border-bottom: 3px solid transparent;
        width:90%;
        display: block;
        transition: all .3s;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid{
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border-bottom: 3px solid $color-secondary-dark;
            }
        } 

        &::-webkit-input-placeholder{
            color: $color-gray-dark-2;
        }                 
    }

    &__label{
        font-size: 1.2rem;
        font-weight:700;
        margin-left:2rem;
        margin-top:.7rem;
        transition: all .2s;
        display: block;
    }

    &__input:placeholder-shown + &__label{
        opacity:0;
        visibility: hidden;
        transform: translateY(-4rem);
    }       


}