.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black, 0.8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden; // top:50%;
    transition: all .4s .2s ease-in-out;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        width: 80%;
        // height: 80vh;
        @include center-block;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: scale(.5) translate(-50%, -50%);
    }

    &__left {
        width: 33.33333%;
        display: table-cell;
        vertical-align: middle;
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        column-count: 2;

        -moz-column-gap: 4rem;
        column-gap: 4rem; // 1em = 14px since the font is that size here: 1.4 rem
        column-rule: 1px solid $color-gray-dark-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }


    &__close {
        &:visited,
        &:link {
            display: inline-block;
            position: absolute;
            top: 3rem;
            right: 3rem;
            color: $color-gray-dark;
            text-decoration: none;
            font-size: 3rem;
            line-height: 1;
            font-weight: 400;
            transition: all .2s;
        }

         &:hover{
            color:$color-primary;
        }
    }

     &:target &__content{
        opacity:1;
        transform: scale(1) translate(-50%, -50%);
     }
}