.bg-video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: .15;
    overflow: hidden;

    &__content{
        height:100%;
        width:100%;
        // similar to background-size:cover to fit while keeping the aspect ratio
        object-fit: cover;
    }
}
