.footer{
    background-color:#333;
    height:100%;
    color: $color-gray-dark-3;
    font-family: inherit;
    padding:10rem 0;
    font-size:1.4rem;;

    &__logo-box{
        // image is an inilne element, that's why this works
        text-align: center;
        // background-color: $color-primary-dark, $color-primary-light;
    }

    &__logo{
        width:15rem;
        height:auto;
    }

    &__navigation{
        border-top:1px solid $color-gray-light-3;
        padding-top:2rem;
        display:inline-block;
    }

    &__list{
        list-style:none;
        overflow:hidden;
        float:left;
    } 

    &__item{
        display: inline-block;
        text-transform: uppercase;
        
        &:not(:last-child){
            margin-right:1.2rem;
        }
    }

    &__link {
       &:link, &:visited{
           color: $color-gray-light-1;
           background-color:#333;
           text-decoration: none;
           display: inline-block;
           transform: all .4s;           
       } 

       &:hover, &:active{
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.1);
        }       
    }

    &__copyright{
        color:white;
        border-top:1px solid $color-gray-light-3;
        padding-top:2rem;
        width:80%;       
        display:inline-block; 
        text-align: left;
        float:right;
    }    
}
