.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.5),
            rgba($color-primary-dark, 0.8)
        ),
        url("../img/hero.jpg");
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0 , 100% 75vh, 0 100%);
    /* 0px,0px, 100px, 0px; */

    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }
    
    &__logo {
        height: 35px;
        margin: 10px;
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform:translate(-50%, -50%);
        text-align: center;
    }    
}